@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn label {
    top: 4.5px;
    left: 6px;
    width: 258px;
  }

  .area-padding {
    padding: 80px 0;
  }

  .area-heading {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  /* NAVBAR */
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }

  .header_area .navbar {
    background: linear-gradient(
      90deg,
      #e9f0f9 0.95%,
      #ecf2fa 50.61%,
      #eef3fa 100%
    );
  }

  .navbar_fixed.header_area .navbar {
    background: #072054;
  }

  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }

  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }

  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }

  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #2b237c;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }

  .navbar_fixed .navbar-toggler span {
    background: #fff;
  }

  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav {
    padding-bottom: 30px;
  }

  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 117px;
  }

  .header_top .nav {
    padding: 0px;
  }

  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 40px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }

  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }

  .header_area .navbar .search {
    margin-left: 0px;
  }

  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }

  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }

  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }

  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 78px;
  }

  /* HERO CARA KERJA */
  .hero-section {
    height: 100vh;
    text-align: center;
  }
  .hero-section .animated {
    -webkit-animation: none;
    animation: none;
  }
  .hero-section .hero-img {
    text-align: center;
  }
  .hero-section .hero-img img {
    width: 50%;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn label {
    top: 5px;
    left: 6px;
    width: 338px;
  }

  /* TESTIMONI */
  .team .member {
    display: block !important;
    text-align: center;
  }

  .team .member .pic {
    margin: 0px auto 20px;
    width: 100px;
  }

  .team .member span::after {
    width: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .team .member .member-info {
    padding-left: 0px;
  }

  /* FOOTER */
  .footer-area .col-sm-6 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* NAVBAR */
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 80px;
  }

  /* HERO CARA KERJA */
  .hero-section h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero-section h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero-section .hero-img img {
    width: 70%;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn label {
    top: 4.5px;
    left: 6px;
    width: 248px;
  }

  /* FOOTER */
  .footer-bottom {
    text-align: center;
  }

  .footer-area .footer-bottom {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  /* NAVBAR */
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 71px;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn {
    border: 1px solid #4c57d6;
    border-radius: 50px;
    height: 60px;
    width: 100%;
  }

  .skema_swipe-btn label {
    top: 4.5px;
    left: 6px;
    width: 245px;
  }

  /* HERO CARA KERJA */
  .hero-section .hero-img img {
    width: 80%;
  }

  .hero-section .btn-pelajari {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  /* FOOTER */
  .footer-area {
    padding: 70px 0 0;
  }

  .footer-bottom {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  /* NAVBAR */
  .header_area .navbar-collapse {
    max-height: 280px;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn label {
    top: 4.5px;
    left: 7px;
    width: 183px;
    font-size: 12px;
    padding: 12px 32px 12px;
  }

  .margin_plans,
  .bagi_plans {
    width: 105%;
  }

  .content ul i {
    margin-left: 0px;
  }
}

@media (max-width: 376px) {
  /* HEADER */
  .header_area {
    width: 102%;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn label {
    top: 4.5px;
    left: 6px;
    width: 165px;
    font-size: 10px;
    padding: 12px 30px 12px;
  }

  /* FOOTER */
  .footer-area {
    width: 102%;
  }
}

@media (max-width: 368px) {
  /* NAVBAR */
  .header_area {
    width: 119%;
  }

  /* SKEMA INVESTASI */
  .skema_swipe-btn {
    border: 1px solid #4c57d6;
    border-radius: 50px;
    height: 60px;
    width: 120%;
  }

  .margin_plans,
  .bagi_plans {
    width: 130%;
  }

  .skema_swipe-btn label {
    font-size: 8px;
    top: 4.5px;
    left: 6px;
    width: 195px;
    font-size: 10px;
  }

  /* FOOTER */
  .footer-area {
    width: 119%;
  }
}
